<template>
  <div class="col-4 mb-4 mt-2" v-if="article">
    <div class="card">
      <vue-load-image>
        <img
          slot="image"
          :src="photoLink"
          class="card-img-top article-card-img"
          alt="Article image"
        />
        <img
          slot="preloader"
          src="../../assets/img/loading_img.gif"
          class="card-img-top article-card-img"
          alt="Article image"
        />
        <img
          slot="error"
          src="../../assets/img/img_not_found.png"
          class="card-img-top article-card-img"
          alt="Article image"
        />
      </vue-load-image>
      <div class="card-body">
        <h6 class="card-title text-secondary">{{dateOfArticle}}</h6>
        <h5 class="card-text mb-2">
          <v-clamp autoresize :max-lines="3">{{article.name}}</v-clamp>
        </h5>
        <router-link
          :to="{ name: 'article', params: { slug: article.slug }}"
          class="btn btn-primary"
        >Διαβάστε περισσότερα</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import VClamp from 'vue-clamp';
import VueLoadImage from 'vue-load-image';
import { Constants } from '../../assets/js/Constants.js';
export default {
  name: 'ArticleCard',
  props: ["article"],
  components: {
    VClamp,
    'vue-load-image': VueLoadImage
  },
  methods: {
  },
  computed: {
    dateOfArticle() {
      var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      let date = new Date(this.article.creationDate);
      return date.toLocaleDateString('el-GR', options);
    },
    photoLink() {
      let photoLink = `${Constants.REST_API}/articles/image/${this.article.imageName}`
      return photoLink;
    }

  },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.article-card-img {
  max-height: 24vh;
  width: 100%;
  object-fit: cover;
}
</style>
