<template>
  <div class="d-flex bg-dark mb-4">
    <div class="container">
      <h5 class="text-white mt-3 mb-3">Τα νέα μας</h5>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArticlesHeader',
  props: [],
  components: {
  },
  methods: {
  },
  computed: {
  },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header-content {
  margin: 0% 10%;
}
</style>
