<template>
  <div class="d-flex bg-dark mb-4">
    <div class="header-content">
      <h6 class="text-white mt-3">{{dateOfArticle}}</h6>
      <h5 class="text-white mt-3">{{title}}</h5>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArticleHeader',
  props: ["title", "date"],
  components: {
  },
  methods: {
  },
  computed: {
    dateOfArticle() {
      var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
      let date = new Date(this.date);
      return date.toLocaleDateString('el-GR', options);
    },
  },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header-content {
  margin: 0% 10%;
}
</style>
