<template>
  <div class="similar-articles-container" v-if="article">
    <h4 class="mt-3">Παρόμοια άρθρα</h4>
    <div class="row">
      <ArticleCard
        v-bind:key="similarArticle.id"
        v-for="similarArticle in getSimilarArticles"
        v-bind:article="similarArticle"
      ></ArticleCard>
    </div>
    <div class="d-grid gap-2">
      <button
        v-if="!noMoreSimilarArticles"
        class="btn btn-outline-success mb-2"
        type="button"
        @click="loadMoreSimilar"
      >Περισσότερα παρόμοια άρθρα</button>
      <div class="alert alert-light" role="alert" v-else>Δεν υπάρχουν άλλα παρόμοια άρθρα</div>
    </div>
    <div
      class="alert alert-danger"
      role="alert"
      v-if="error"
    >Κάτι πήγε λάθος κατά τη λήψη παρόμοιων άρθρων</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ArticleCard from "../articles/ArticleCard.vue";
export default {
  name: 'SimilarArticlesSection',
  components: {
    ArticleCard
  },
  props: ["article"],
  watch: {
    article: async function (newVal, oldVal) {
      this.page = 0;
      this.noMoreSimilarArticles = false;
      await this.loadSimilarArticles();
    }
  },
  data() {
    return {
      error: false,
      page: 0,
      resultsPerPage: 3,
      noMoreSimilarArticles: false
    };
  },
  computed: {
    ...mapGetters(['getSimilarArticles']),
  },
  methods: {
    ...mapActions(['fetchSimilarArticles']),

    async loadMoreSimilar() {
      this.page = this.page + 1;
      let response = await this.fetchSimilarArticles({ id: this.article.id, page: this.page, resultsPerPage: this.resultsPerPage, concat: true });
      if (response && response.error) {
        this.error = true;
      } else {
        let newlyFetchedArticles = response;
        if (newlyFetchedArticles.length < this.resultsPerPage) {
          this.noMoreSimilarArticles = true;
        }
      }
    },

    async loadSimilarArticles() {
      let response = await this.fetchSimilarArticles({ id: this.article.id, page: this.page, resultsPerPage: this.resultsPerPage });
      if (response && response.error) {
        this.error = true;
      }
    }

  },

  async mounted() {
    await this.loadSimilarArticles();
  }
}
</script>

<style scoped>
.similar-articles-container {
  margin: 0% 10%;
}
</style>
