<template>
  <div>
    <ArticlesHeader></ArticlesHeader>
    <div v-if="loading" class="d-flex justify-content-center">
      <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status"></div>
    </div>
    <div
      v-if="error"
      class="alert alert-danger"
      role="alert"
    >Κάτι πήγε λάθος κατά. Παρακαλώ δοκιμάστε αργότερα.</div>
    <div class="container">
      <div class="row" v-if="!loading && !error">
        <ArticleCard
          v-bind:key="article.id"
          v-for="article in getArticles"
          v-bind:article="article"
        ></ArticleCard>
      </div>
    </div>
    <div @click="changePage()" class="overflow-auto ml-1 mt-1">
      <b-pagination v-model="currentPage" :total-rows="getTotalArticles" :per-page="resultsPerPage"></b-pagination>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import ArticlesHeader from "../components/articles/ArticlesHeader.vue";
import ArticleCard from "../components/articles/ArticleCard.vue";
export default {
  name: 'Articles',
  components: {
    ArticlesHeader,
    ArticleCard
  },
  props: [],
  data() {
    return {
      currentPage: 1,
      resultsPerPage: 9,
      loading: false,
      error: false
    };
  },
  computed: {
    ...mapGetters(['getArticles', 'getTotalArticles']),
  },
  methods: {
    ...mapActions(['fetchArticles']),
    async changePage() {
      await this.loadArticles();
    },
    async loadArticles() {
      this.loading = true;
      let response = await this.fetchArticles({ page: this.currentPage - 1, resultsPerPage: this.resultsPerPage });
      if (response && response.error) {
        this.error = true;
      }
      this.loading = false;
    }
  },
  async mounted() {
    await this.loadArticles();
  }
}
</script>

<style scoped>
</style>
