<template>
  <div>
    <div v-if="loading" class="d-flex justify-content-center">
      <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status"></div>
    </div>
    <div v-if="error" class="alert alert-danger" role="alert">Το άρθρο δεν βρέθηκε.</div>
    <ArticleHeader v-if="article" :title="article.name" :date="article.creationDate"></ArticleHeader>
    <div v-if="article">
      <div
        class="article-content-container"
        style="display: flex; flex-direction: column"
        v-html="article.content"
      ></div>
      <SimilarArticlesSection :article="article"></SimilarArticlesSection>
    </div>
  </div>
</template>

<script>
import ArticleHeader from "../components/selectedArticle/ArticleHeader.vue";
import SimilarArticlesSection from "../components/selectedArticle/SimilarArticlesSection.vue";
import { mapActions, mapGetters } from 'vuex';
export default {
  name: 'SelectedArticle',
  components: {
    ArticleHeader,
    SimilarArticlesSection
  },
  props: [],
  data() {
    return {
      article: null,
      loading: false,
      error: false
    };
  },
  computed: {
    ...mapGetters(['getSimilarArticles']),
  },
  watch: {
    '$route.params.slug': async function (newVal, oldVal) {
      await this.loadArticle();
      window.scrollTo({ top: 0, behavior: 'auto' })
    }
  },
  methods: {
    ...mapActions(['fetchArticle', 'fetchSimilarArticles']),
    async loadArticle() {
      let slug = this.$route.params.slug;
      this.error = false;
      this.loading = true;
      let response = await this.fetchArticle({ slug });
      if (response && response.error) {
        this.error = true;
      } else {
        this.article = response;
      }
      this.loading = false;
    },
  },
  async mounted() {
    await this.loadArticle();
  }
}
</script>

<style scoped>
.article-content-container {
  margin: 0% 10%;
}
@media screen and (max-width: 800px) {
  .article-content-container {
    width: 92%;
    margin: 3% 4% 3% 4%;
  }
}
</style>
