<template>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <ul class="navbar-nav ms-auto">
      <span class="nav-item mt-2">
        <h6 class="text-white" style="margin-right:10px">Καλέστε μας: 210 1010 555</h6>
      </span>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'ContactNavbar',
  components: {},
  data() {
    return {
    }
  },
  computed: {
  },
  methods: {
  },
  mounted() { },
}
</script>

<style scoped>
</style>
