<template>
  <footer class="w-100 py-4 flex-shrink-0 bg-dark text-white">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <img class="h1 text-white" src="../../assets/img/trillion-logo.svg" alt height="24" />
          <p
            class="small text-white"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <p class="small text-white mb-0">
            &copy; Copyrights. All rights reserved.
            <a
              class="text-primary"
              href="https://webjar.gr/"
              target="_blank"
            >webjar.com</a>
          </p>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Επικοινωνία</h5>
          <ul class="list-unstyled text-white">
            <li>Tηλ: 211 115 6669</li>
            <li>email: tade@email.com</li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Διεύθυνση</h5>
          <ul class="list-unstyled text-white">
            <li>Λ. Κηφισσίας 324</li>
            <li>Χαλάνδρι</li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-3">Newsletter</h5>
          <p
            class="small text-white"
          >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
          <form action="#">
            <div class="input-group mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="Βάλτο mail σου δώθε"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button class="btn btn-primary" id="button-addon2" type="button">Εγγραφή</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'Footer',
  props: [],
  methods: {
  },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
