<template>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <router-link to="/" class="navbar-brand" style="text-decoration: none;">
        <img src="../../assets/img/trillion-logo.svg" alt height="24" />
      </router-link>
      <div class="d-flex">
        <router-link to="/" style="text-decoration: none;">
          <strong>Blog</strong>
        </router-link>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  props: [],
  methods: {
  },
  mounted() {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
