<template>
  <div id="app">
    <ContactNavbar></ContactNavbar>
    <Navbar></Navbar>
    <router-view />
    <Footer></Footer>
  </div>
</template>

<script>
import Navbar from "./components/general/Navbar.vue";
import Footer from "./components/general/Footer.vue";
import ContactNavbar from "./components/general/ContactNavbar.vue";
export default {
  name: "App",
  components: {
    ContactNavbar,
    Navbar,
    Footer
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
